{% extends "base.html" %}

{% block title %}KevPapi{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
<link href="https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="hero">
    <div class="container">
        <div class="saturn">
            <img src="{{ url_for('static', filename='images/saturn.webp') }}" alt="Saturn">
        </div>

        <div class="plaque">
            <h1 class="name">Kevin Rahsaz</h1>
            <h2 class="job title">Machine Learning & AI</h2>
            <p class="bio">A passionate software engineer with a knack for crafting elegant solutions and a love for building beautiful, user-friendly applications. I thrive on challenges and enjoy exploring the ever-evolving landscape of technology.</p>

            <div class="social-links">
                <a href="https://github.com/kevinrhz" target="_blank"><i class="fab fa-github"></i></a>
                <a href="https://instagram.com/kevmo.bc" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://linkedin.com/in/kevin-rahsaz-832a7420a/" target="_blank"><i class="fab fa-linkedin"></i></a>
            </div>

            <a href="{{ url_for('main.projects') }}" class="projects-button">My Projects</a>
            <a href="{{ url_for('main.contact') }}" class="contact-button">Get in Touch</a>
        </div>
    </div>
</div>
{% endblock %}